<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Market API test project">
    <meta name="author" content="Evgeniy Anisimov">
    <title>MAPI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<header th:insert="blocks/header.html :: header"></header>
<main role="main" class="pl-5 pr-5">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="/new"><button type="button" class="btn btn-sm btn-outline-secondary">New</button></a>
                <a href="/papers/truncate"><button type="button" class="btn btn-sm btn-outline-secondary">Truncate</button></a>
                <a href="/papers"><button type="button" class="btn btn-sm btn-outline-secondary">Export</button></a>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>SecId</th>
                <th>RegNumber</th>
                <th>Name</th>
                <th>Emitent_Title</th>
                <th>TradeDate</th>
                <th>NumTrades</th>
                <th>Open</th>
                <th>Close</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="paper : ${papers}">
                <td th:text=" ${paper.secid}"/>
                <td th:text="${paper.id}"/>
                <td th:text="${paper.name}"/>
                <td th:text="${paper.emitent_title}"/>
                <td th:text="${paper.tradedate}"/>
                <td th:text="${paper.numtrades}"/>
                <td th:text="${paper.open}"/>
                <td th:text="${paper.close}"/>
                <td><a th:href="@{'/papers/delete/' + ${paper.id}}">delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>